/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*media-query for tabletcomputer (landscape ) and big smartphones (landscape)-----------------------------------------------------------------------------------*/


/* @media only screen  and (min-device-width:355px) and (orientation: landscape) and  (-webkit-min-device-pixel-ratio: 1.3), /*big smartphones*/
/* only screen and (min-device-width:355px) and  (orientation: landscape) and  (min-device-pixel-ratio: 1.3), /*big smartphones*/
/* only screen  and  (min-device-width:500px) and  (orientation: landscape) and  (-webkit-min-device-pixel-ratio: 1.3), /*tabletcomputer*/
/* only screen and (min-device-width:500px) and  (orientation: landscape) and (min-device-pixel-ratio: 1.3) /*tabletcomputer*/

    * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


    body {
        background: url(../img/pizza-live-background-landscape-400x225.png) no-repeat center;
        width:100vw;
        height: 57vw;
        background-size: cover;

    }

    .load-container {
        height: 30vw;
        width: 30vw;
        margin-left: 35vw;
        margin-top: 15vw;
    }

    .load6 .loader{
        font-size: 11vw;
        position: absolute;
        top:5vw;
        left:9vw;
    }

    #no-internet-msg-container{
        width: 60%;
        height: 100%;
        margin-left: 20%;
    }

    #no-internet-msg-container h2{
        margin-top: 20vw;
        padding-left: 3vw;
        padding-right: 3vw;
    }




